<div class="row">
    <ul class="navmodal nav-tabs-modal" id="tabmod">
        <li>
            <a href="#attach" data-toggle="tab"><h5><i class="glyphicon glyphicon-paperclip"></i></h5></a>
        </li>
        <li>
            <a href="#chain" data-toggle="tab"><h5><i class="glyphicon glyphicon-link"></i>(1)</h5></a>
        </li>
        <li>
            <a href="#hist" data-toggle="tab"><h5><i class="glyphicon glyphicon-repeat"></i></h5></a>
        </li>
        <li class="active">
            <a href="#Det" data-toggle="tab"><h5>Details</h5></a>
        </li>
    </ul>
</div>

<div class="tab-content">

    <div class="tab-pane active in " id="Det">

        <div id="boardmod">

            <table style="width:100%;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th align="center"  style="width:40%;" valign="middle">Description<hr /></th>


                    <th align="center"  style="width:30%;" valign="middle">Planning <hr /></th>


                    <th align="right"  style="width:30%;" valign="middle">Development <hr /></th>
                </tr>
                <tr>
                    <th align="center"  style="width:40%;" valign="middle"><i>Click to add Description</i></th>


                    <th align="center"  style="width:30%;" valign="middle"><i>Effort</i> <br /><br /> Remaining Work </th>


                    <th align="right"  style="width:30%;" valign="middle"> + Add link <br /> <br />Development hasn't started on this item.</th>
                </tr>

            </table>

        </div>
    </div>
    <div class="tab-pane" id="attach">
        <div id="boardmod">

        </div>
    </div>
    <div class="tab-pane" id="chain">
        <div id="boardmod">

        </div>

    </div>
    <div class="tab-pane" id="hist">
        <div id="boardmod">

        </div>
    </div>
</div>



