@{
    ViewBag.Title = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<div id="sidec">
    <h3>
        &nbsp;  <img src="~/Imagens/SIDECsprint.png" /> SIDEC Team
        <i class="glyphicon glyphicon-menu-down"></i>
        <i class="glyphicon glyphicon-star-empty" style="color:#ffd800"></i>
        <i class="fa fa-user-o"></i>
    </h3>
</div>
<div class="container-fluid">

    @*<div id="titulo">*@
    <div id="boardtitle">
        <div id="titlecoll">
            <div class="title">Collapsed all</div>
        </div>
        <div id="titlenew">
            <div class="title">New</div>
        </div>
        <div id="titleactive">
            <div class="title">Active</div>
        </div>
        <div id="titleclosed">
            <div class="title">Closed</div>
        </div>
    </div>
    @*</div>*@
    @*<div class="container-fluid" >*@
        <div id="board" style="overflow-y: scroll; height:60%">
            <button class="accordion"> &nbsp; <img src="~/Imagens/task.png" /> &nbsp; [Request] Limitar todos os campos dos formulários</button>

            <div class="panel">
                <div id="coll" class="droptarget">
                    @*<div class="title">Collapsed all</div>*@<div class="title"></div>
                    <div id="item1" draggable="true">
                        <div class="cardTitle">
                            Learn HTML5
                        </div>
                    </div>
                    <div id="item2" draggable="true">
                        <div class="cardTitle">
                            Learn CSS3
                        </div>
                    </div>
                </div>

                <div id="new" class="droptarget">
                    @*<div class="title">New</div>*@<div class="title"></div>

                </div>

                <div id="active" class="droptarget">
                    @*<div class="title">Active</div>*@<div class="title"></div>
                </div>

                <div id="closed" class="droptarget">
                    @*<div class="title">Closed</div>*@<div class="title"></div>
                </div>





            </div>







            <button class="accordion">&nbsp; <img src="~/Imagens/task.png" /> &nbsp; [Inbox] O card das atividades encerradas nao esta funcionando</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">&nbsp; <img src="~/Imagens/task.png" /> &nbsp; [Inbox] erro de autenticação ao entrar (ter que entrar em nova solicitação)</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">&nbsp; <img src="~/Imagens/task.png" /> &nbsp; [encaminhamento] ao encaminhar, 'o encaminhamento por' é o mesmo do 'encaminhar para'</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>

            <button class="accordion">&nbsp; <img src="~/Imagens/task.png" /> &nbsp; [motivos] campo motivo grande</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>
            <button class="accordion">&nbsp; <img src="~/Imagens/task.png" /> &nbsp; [capacitação] não adiciona campo com muitos caracteres</button>
            <div class="panel">
                <p>Lorem ipsum...</p>
            </div>



        </div>

    @*</div>*@
</div>



@section scripts
{

    <script type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js">
    </script>

    <script>

        $('document').ready(init);

        function init() {
            $('#item1, #item2').bind('dragstart', function (event) {
                event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
                event.target.style.opacity = "0.4";
            });
            // bind the dragover event on the board sections
            $('#new, #active, #closed').bind('dragover', function (event) {
                event.preventDefault();
            });
            // bind the drop event on the board sections
            $('#new, #active, #closed').bind('drop', function (event) {
                var notecard = event.originalEvent.dataTransfer.getData("text/plain");
                event.target.style.border = "";
                event.target.style.backgroundColor = '#f4f4f4';
                event.target.appendChild(document.getElementById(notecard));
                event.preventDefault();
            });
            $('#new, #active, #closed').bind("drag", function (event) {


            });
            $('#new, #active, #closed').bind("dragenter", function (event) {
                if (event.target.className == "droptarget") {
                    //event.target.style.border = "3px dotted red";
                    event.target.style.backgroundColor = '#dff6dd';
                }
            });

            $('#new, #active, #closed').bind("dragend", function (event) {
                event.target.style.opacity = "1";



            });

            $('#new, #active, #closed').bind("dragover", function (event) {
                event.target.style.border = "";

            });

            $('#new, #active, #closed').bind("dragleave", function (event) {
                if (event.target.className == "droptarget") {
                    event.target.style.border = "";
                    event.target.style.backgroundColor = '#f4f4f4';

                }
            });
        }


        /**************/

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }






        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active.after");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }





    </script>

}

