@{
    ViewBag.Title = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">




<div id="conteudo">
    <h3>SIDEC Team</h3>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>




@*<div class="row">*@

@*<div id="board">*@
@*<div class="row">
        <div class="column" id="col1">

            <div class="card" id="card">

                <div id="mydiv" class="w3-panel w3-leftbar w3-border-red">

                    <p>Move</p>
                    <p>this</p>
                    <p>DIV</p>
                </div>


            </div>
        </div>

    </div>*@

<div class="row">
    <div id="board">
        <div id="todo" class="droptarget">
            <div class="title">To Do</div>

            @*<div class="column" id="col1">
                    <div class="card" id="card">
                        <div id="mydiv" class="w3-panel w3-leftbar w3-border-red">
                            <p>Move</p>
                            <p>this</p>
                            <p>DIV</p>
                        </div>
                    </div>
                </div>*@

            <div id="item1" draggable="true">
                <div class="cardTitle">
                    Learn HTML5
                </div>
            </div>
            <div id="item2" draggable="true">
                <div class="cardTitle">
                    Learn CSS3
                </div>
            </div>
            <!--<div id="item3" draggable="true">Make an amazing site</div>
            <div id="item4" draggable="true">Impress my friends</div>-->
        </div>
        <div id="inprogress" class="droptarget">
            <div class="title">In Progress</div>
        </div>

        <div id="done" class="droptarget">
            <div class="title">Done</div>
        </div>
    </div>
</div>


@section scripts
{

    <script type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js">
    </script>

    <script>

        $('document').ready(init);

        function init() {
            $('#item1, #item2').bind('dragstart', function (event) {
                event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
                event.target.style.opacity = "0.4";
            });
            // bind the dragover event on the board sections
            $('#todo, #inprogress, #done').bind('dragover', function (event) {
                event.preventDefault();
            });
            // bind the drop event on the board sections
            $('#todo, #inprogress, #done').bind('drop', function (event) {
                var notecard = event.originalEvent.dataTransfer.getData("text/plain");
                event.target.style.border = "";
                event.target.style.backgroundColor = "white";
                event.target.appendChild(document.getElementById(notecard));
                event.preventDefault();
            });
            $('#todo, #inprogress, #done').bind("drag", function (event) {
                

            });
            $('#todo, #inprogress, #done').bind("dragenter", function (event) {
                if (event.target.className == "droptarget") {
                    event.target.style.border = "3px dotted red";
                    event.target.style.backgroundColor = '#dff6dd';
                }
            });

            $('#todo, #inprogress, #done').bind("dragend", function (event) {
                event.target.style.opacity = "1";

             

            });

            $('#todo, #inprogress, #done').bind("dragover", function (event) {
                event.target.style.border = "";

            });

            $('#todo, #inprogress, #done').bind("dragleave", function (event) {
                if (event.target.className == "droptarget") {
                    event.target.style.border = "";
                    event.target.style.backgroundColor = "white";

                }
            });
        }

    </script>

}

