@{
    ViewBag.Title = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<div class="container-fluid">
    <div class="row">
        <h3>
            &nbsp;  <img src="~/Imagens/SIDECsprint.png" /> SIDEC Team
            <i class="glyphicon glyphicon-menu-down"></i>
            <i class="glyphicon glyphicon-star-empty" style="color:#ffd800"></i>
            <i class="fa fa-user-o"></i>
        </h3>

    </div>

    <div class="row" style="margin-left:18%">

        <ul class="nav nav-tabs" id="tab">
            <li class="active">
                <a href="#Taskboard" data-toggle="tab"><h5>Taskboard</h5></a>
            </li>
            <li>
                <a href="#Backlog" data-toggle="tab"><h5>Backlog</h5></a>
            </li>
            <li>
                <a href="#Capacity" data-toggle="tab"><h5>Capacity</h5></a>
            </li>
            <li>
                <a data-target="#ModalNew" data-toggle="modal"> <h5>  + New Work Item <i class="glyphicon glyphicon-menu-down"></i> </h5></a>
            </li>
        </ul>

    </div>


    <div id="boardtitle" style="height:0%; width:80%;">
        <div id="titlecoll">
            <div class="title"> Collapsed all</div>
        </div>
        <div id="titlenew">
            <div class="title">New</div>
        </div>
        <div id="titleactive">
            <div class="title">Active</div>
        </div>
        <div id="titleclosed">
            <div class="title">Closed</div>
        </div>

    </div>





    <div class="tab-content">

        <div class="tab-pane active in" id="Taskboard">

            <div id="board" style="overflow-y: scroll; height:60%; width:80%;">

                <button id="accordion" data-id="A" class='accordion'> &nbsp; <img src="~/Imagens/task.png" /> &nbsp; [Request] Limitar todos os campos dos formulários</button>

                <div id="panelA" class="panel">
                    <div id="colcoll" class='droptarget colcoll'>

                        <div id="iA" class="cartao" draggable="true" datacard="1141 Nova atividade &#013;  Unassigned &#013; State &#013; New">
                            <div class="cardTitle">
                                1141 Nova atividade <br />
                                Unassigned<br />
                                State<br />
                                New
                            </div>
                        </div>
                    </div>

                    <div id="colnew" class='droptarget colnew'>
                        <div class="title"></div>

                    </div>

                    <div id="colactive" class='droptarget colactive'>
                        <div class="title"></div>
                    </div>

                    <div id="colclosed" class='droptarget colclosed'>
                        <div class="title"></div>
                    </div>
                </div>


            </div>

        </div>
        <div class="tab-pane" id="Backlog">
            <div id="board" style="overflow-y: scroll; height:60%; width:80%;">
                Backlog
            </div>

        </div>
        <div class="tab-pane" id="Capacity">
            <div id="board" style="overflow-y: scroll; height:60%; width:80%;">
                Capacity
            </div>
        </div>|

    </div>

</div>


<div id="ModalNew" class="modal fade" role="document" data-toggle="modal" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <a data-ng-href="#" data-dismiss="modal" class="close" style="float:right; margin-right:0.7%;">&times;</a>
                <a data-ng-href="#" data-dismiss="modal" class="close" style="float:right; margin-right:0.7%;"><i class="glyphicon glyphicon-resize-full"></i></a>
                <h6 class="modal-title"> &nbsp; <img src="~/Imagens/ustory.png" /> &nbsp; USER STORY 1136*</h6>
                <h3><label style="width:100%;">1136 &nbsp; <input type="text" placeholder="Digite uma descrição..." id="DescAtiv" style="width:95%;"></label></h3>

                <div style="width:100%;">

                        Cassia Salles Gomes Rezende

                        <label style="margin-left:10%;"> <i class="fa fa-comments-o"></i> 0 comments  Add tag </label>


                        <div class="btn-group" style="justify-content:flex-end;">
                            <button type="button" class="btn btn-primary" id="btnSaveClose"> <i class="glyphicon glyphicon-floppy-remove"></i> Save & Close</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-menu-down"></i> <span class="sr-only">toggle dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Outras opções..</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                        &nbsp;  <i class="fa fa-eye"></i> &nbsp; Follow &nbsp; <i class="glyphicon glyphicon-repeat"></i>&nbsp;<i class="fa fa-mail-reply"></i>&nbsp;<i class="fa fa-ellipsis-h"></i>

                    </div>

            </div>
            <div class="modal-body" style="background-color: #f8f8f8">

                <label style="margin-left:1%;"> State</label>
                <label style="margin-left:2%;">
                    <i class="fa fa-circle"></i> New
                </label>

                <label style="margin-left:5%;"> Area</label>
                <label style="margin-left:6%;">
                    SIDEC
                </label>

                <label style="margin-left:82%;"> Updated by Mateus de Pontes Moraes 4 hour ago</label>

                <label style="margin-left:1%;"> Reason</label>
                <label style="margin-left:2%;">
                    <i class="fa fa-lock"></i> New
                </label>

                <label style="margin-left:5%;">Iteration</label>
                <label style="margin-left:6%;">
                    SIDEC\Sprint 1
                </label>

                @Html.Partial("_Novo")
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $('document').ready(init);

        function init() {
            $('.cartao').bind('dragstart', function (event) {
                event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
                event.target.style.opacity = "0.4";

            });
           
            $('.colcoll, .colnew, .colactive, .colclosed').bind('dragover', function (event) {
                event.preventDefault();
            });
            
            $('.colnew, .colactive').bind('drop', function (event) {
                var notecard = event.originalEvent.dataTransfer.getData("text/plain");
                event.target.style.border = "";
                event.target.style.backgroundColor = '#f4f4f4';
                var vtexto = document.getElementById(notecard).getAttribute('datacard');
                document.getElementById(notecard).innerText = vtexto;
                document.getElementById(notecard).insertAdjacentHTML("afterbegin", "<img src='..//Imagens/newactive.png' />");
                event.target.appendChild(document.getElementById(notecard));
                event.preventDefault();
            });
            $('.colclosed').bind('drop', function (event) {
                var notecard = event.originalEvent.dataTransfer.getData("text/plain");
                event.target.style.border = "";
                event.target.style.backgroundColor = '#f4f4f4';
                var vtexto = document.getElementById(notecard).getAttribute('datacard');
                document.getElementById(notecard).innerText = vtexto;
                document.getElementById(notecard).insertAdjacentHTML("afterbegin", "<img src='..//Imagens/closed.png' />");
                event.target.appendChild(document.getElementById(notecard));
                event.preventDefault();
            });
            $('.colcoll, .colnew, .colactive, .colclosed').bind("drag", function (event) {
            });
            $('.droptarget').bind("dragenter", function (event) {
                event.target.style.backgroundColor = '#dff6dd';
            });
            $('.droptarget').bind("dragend", function (event) {
                event.target.style.opacity = "1";
                event.target.style.backgroundColor = 'white';
            });
            $('.droptarget').bind("dragleave", function (event) {
                event.target.style.backgroundColor = '#dff6dd';
                event.target.style.border = "";
                event.target.style.backgroundColor = '#f4f4f4';
            });
        }
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {

                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
        var count = 0;

        $('#ModalNew').one("shown.bs.modal", function () {

            $('#btnSaveClose').on('click', function (e) {
                count++;
                var vDescAtiv = $('#DescAtiv').val();
                var img = '<img src="..//Imagens/task.png" />';
                var vsection = "<button class='accordion active active.after' id=accord" + count + " > &nbsp; " + img + "&nbsp; " + vDescAtiv + " </button>"
                    + "<div id=panel" + count + " class='panel' style='display: block; max-height:208px;'> <div id='colcoll'" + count + " class='droptarget colcoll'>" +
                    "<div id=c" + count + " class='cartao' style='border-left: 4px solid red' datacard =" + vDescAtiv + " draggable='true'>" +
                    "<div id=ct" + count + " class='cardTitle'>" +
                    img + vDescAtiv +
                    " </div>" +
                    "</div>" +
                    "</div>" +
                    "<div id='colnew'" + count + " class='droptarget colnew'>" +
                    "</div>" +
                    "  <div id='colactive'" + count + " class='droptarget colactive'>" +
                    " </div>" +
                    "  <div id='colclosed'" + count + " class='droptarget colclosed'>" +
                    "  </div>" +
                    "</div > ";
                $('#board').append(vsection);
                var obj = "accord" + count;
                var acc = document.getElementById(obj);
                var i;
                /********/
                init();
                /********/
                acc.addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
                var acc = document.getElementById("accord" + count);
                var i;
                acc.addEventListener("click", function () {
                    this.classList.toggle("active.after");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
                $('#ModalNew').modal('hide');
            });
        });


    </script>

}

